/* intro.module.css */
.container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #ffffffff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: backgroundCycle 20s infinite ease-in-out;
  z-index: -1;
  background-image: 
  url("../../assets/image1.jpeg"),
  url("../../assets/image2.jpeg"),
  url("../../assets/image3.jpeg"),
  url("../../assets/image4.jpeg");
}

@keyframes backgroundCycle {
 0%, 100% {
    background-image: url("../../assets/image1.jpeg");
  }

  25% {
    background-image: url("../../assets/image2.jpeg");
  }

  50% {
    background-image: url("../../assets/image3.jpeg");
  }

  75% {
    background-image: url("../../assets/image4.jpeg");
  }
}

.content {
  padding: 2rem 3rem;
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 1;
  color: var(--text-primary);
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var( --text-secondary);
}

.text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.contactLink {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contactLink:hover {
  background-color: #1e40af;
}
